# Python / Entornos
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Variables de Entorno
.env
.env.local
.env.*

# RAG / Bases de datos vectoriales
backend/src/faiss_index/
*.pkl

# Frontend (React / Node)
node_modules/
dist/
build/
.npm/

# Sistema e IDE
.vscode/
.idea/
.DS_Store

# Archivos de datos locales (PDFs pesados)
backend/src/data/
